*.iml
*.ipr
*.iws
*.log
*.log.*
*.mf

.project
.gradle/
.idea/
.vscode/
**/.classpath

**/.DS_Store
**/node_modules/
build/
out/
bin/
application-*.yml
*.js.map
Configuration-sample.properties
temp/
**/rebel.xml
gradle/
gradlew
gradlew.bat



